h1{
	padding-top: 50px;
	font-size: 100px;
}

.title{
	margin-top: 20px;
	padding-top: 0pt;
	padding-bottom: 0pt;
	background-color: #BCC8DB;
	display: table-cell;
	vertical-align: middle;
}

.text{
	padding-left:90pt;
	font-size:20px;
}

h2{
	padding-left: 100px;
	font-size: 30px;
}

h3{
	padding-left: 100px;
	font-size: 20px;
}

.picture_width{
	width: 825px;
}
.onePic{
	margin-left: 100;
	margin-right: 100;
	margin-bottom: 50;
	margin-top: 20;
	padding: 10px;
	border: 3px dashed #333333;
}

.mosttop{
	padding-top: 10;
}
